{
    "env": {
        "node": true
    },
    "extends": "airbnb",
    "rules": {
        "semi": 2,
        "no-console": 0,
        "camelcase": 0,
    },
    "globals": {
        "Parse": true,
    }
}
